@font-face {
  font-family: 'RosettaMono';
  src: url('fonts/RosettaMono-Regular.woff2') format('woff2'),
       url('fonts/RosettaMono-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
